<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test_Web_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test_Web_Application.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>

        .beige_color{
            background-color: #FAF8EC;
        }

        .green_color{
            background-color: #11393B;
        }
       
    

        


    </style>
</head>
<body>
    @{

        var userId = Context.Session.GetString("UserId");
        var UserRole = Context.Session.GetString("UserRole");

        if (userId == null)
        {
            // Context.Response.Redirect("/Login");

        }


    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow shadow mb-3 p-4  ">
            <div class="container-fluid bg-white">
                @if (@userId != null)
                {
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><h3 class="h3">Demo</h3></a>
                }
                else
                {
                    <h3 class="h3 ">Demo</h3>
                        }
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        @if (@userId != null)
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item ">
                                @if (UserRole.ToString().ToLower() == "user")
                                {
                                    <a class="nav-link text-dark " asp-area="" asp-controller="Complaint" asp-action="Index">Complaints</a>
                                }
                                else if (UserRole.ToString().ToLower() == "admin")
                                {
                                    <a class="nav-link text-dark " asp-area="" asp-controller="Complaint" asp-action="GetAllComplaints">Complaints</a>
                                }

                                
                                
                                
                            </li>
                        }
                        else
                        {
                            
                        }




                    </ul>

                     @if (@userId != null)
                        {
                        <a asp-controller="User" asp-action="Info" asp-route-Id="@userId" class="navbar-brand rounded-5 me-3 ms-2 text-end"> <img class="img-fluid  rounded-5 rounded-circle  " style="width:20%" src="@("~/Image/person_default_image2.png")" alt="User Image" asp-append-version="true" /></a>
                            <a asp-controller="User" asp-action="Logout" class="nav-link text-dark me-4 ms-2">Logout</a>
                        
                        }
                    else
                        {
                      
                            <a asp-controller="User" asp-action="Login" class="nav-link text-dark me-4 ms-2">Login</a>
                            <a asp-controller="User" asp-action="Rigester" class="nav-link text-dark me-2 ms-2 ">Register</a>
                        }

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid  ">
        <main role="main" class="pb-3">
           
            @RenderBody()
        </main>
    </div>

  @*  <footer class="border-top footer text-muted ">
        <div class="container">
           <div class="row ">
                <div class="col-6">&copy; 2023 -Demo</div>
                <div class="col-6 text-end"</div>
           </div>  
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
